langchain_community==0.4.1
langchain_core==1.2.18
langchain_groq==1.1.2
langchain_huggingface==1.2.1
langchain_text_splitters==1.1.1
langgraph==1.1.1
pandas==3.0.1
python-dotenv==1.2.2
typing_extensions==4.15.0
fastapi
uvicorn
python-multipart
llama-index
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
yfinance
twelvedata
psycopg2-binary
SQLAlchemy
pymupdf
